/* Define standard variables and values for website */
$pinkColor: #e8d7e3;
$greenColor: #b6d4b9;
$brownColor: #d4b9b6;
$purpleColor: #b9b6d4;

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: 0.3s;
}
*,
*::after,
*::before {
  transition: 0.3s;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section {
  padding: 2rem 2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  // border: 1px solid black;
}

// ---------------------- NAVIGATION ----------------------

.nav {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  display: none;
}

// ---------------------- HERO ----------------------

.textSection {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 30rem;

  .landingText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .normal {
      font-size: 3rem;
      font-weight: 600;
    }

    .name {
      font-size: 4rem;
      font-weight: 800;
    }
  }

  .descText {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;

    .line {
      padding: 0.5rem 0rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .normalText {
      font-size: 2rem;
    }

    .actionButton {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      margin: 0rem 0.5rem;
      transition: 0.3s;

      .btnText {
        font-size: 1.75rem;
        font-weight: 600;
        color: white;
        padding: 0.25rem 1rem;
        text-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          margin-left: 0.5rem;
        }
      }
    }

    .codeBtn {
      background-color: rgb(212, 185, 182);
      box-shadow: 5px 0px 15px rgba(212, 185, 182, 0.75);
      border-radius: 20px;
      border: 2px solid transparent;
    }
    .codeBtn:hover {
      background: none;
      box-shadow: none;
      border: 2px solid rgb(212, 185, 182);
      cursor: pointer;

      .btnText {
        color: rgb(212, 185, 182);
        // text-shadow: 2px 0px 15px rgba(212, 185, 182, 0.5);
        text-shadow: none;
      }
    }

    .captureBtn {
      background-color: rgb(182, 212, 185);
      box-shadow: 5px 0px 15px rgba(182, 212, 185, 0.75);
      border-radius: 20px;
      border: 2px solid transparent;
    }
    .captureBtn:hover {
      background: none;
      box-shadow: none;
      border: 2px solid rgb(182, 212, 185);
      cursor: pointer;

      .btnText {
        color: rgb(182, 212, 185);
        // text-shadow: 2px 0px 15px rgba(182, 212, 185, 0.5);
        text-shadow: none;
      }
    }
  }

  .aboutText {
    display: flex;
    align-items: center;
    justify-content: center;

    .normal {
      font-size: 1.5rem;
    }

    .aboutLink {
      .about {
        padding: 0rem 0.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #b9b6d4;
        text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
      }

      .icon {
        padding: 0;
        font-weight: bold;
      }
    }
    .aboutLink:hover {
      cursor: pointer;

      .icon {
        transform: rotate(90deg);
        transition: 0.5s;
      }
    }
  }
}

.imageSection {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .profilePic {
    width: 30rem;
    height: 30rem;
    border-radius: 50rem;
    box-shadow: 0px 0px 25px rgba(232, 215, 227, 1);
  }
  .profilePic:hover {
    position: relative;
    transform: scale(1.025);
    transition: 0.3s;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
    border-radius: 15rem;
  }
}

// ---------------------- ABOUT ----------------------

.aboutSection {
  justify-content: flex-start;
  flex-direction: column;

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      font-size: 3rem;
      color: $purpleColor;
      font-weight: 800;
    }
  }

  .introText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem 0rem;
    .text {
      font-size: 1.5rem;
    }
  }

  .work {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 0rem;

    .workIntro {
      span {
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .workGrid {
      display: flex;
      flex-flow: wrap;

      .workCard {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
        margin-left: 0rem;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
        border-radius: 0.75rem;
        padding: 1rem;

        .topRow {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          .iconSide {
            display: flex;
            align-items: center;
            justify-content: center;

            .workLogo {
              height: 4rem;
              width: 4rem;
              border-radius: 5rem;
              box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
              // border: 3px solid white;
            }
          }

          .textSide {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            margin-left: 1rem;

            .companyName {
              font-size: 1.5rem;
              text-transform: uppercase;
              font-weight: 500;
              color: white;
              text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);
              padding-bottom: 0.125rem;
            }

            .position {
              padding-top: 0.125rem;
              font-size: 1.25rem;
              font-weight: 500;
              color: rgba(0, 0, 0, 0.6);
            }
          }
        }

        .workCardDivider {
          height: 0.125rem;
          width: 90%;
          background-color: rgba(0, 0, 0, 0.125);
          border-radius: 1rem;
          margin: 1rem;
          display: none;
          transition: 1s;
        }

        .bottomRow {
          display: none;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          transition: 1s;

          .text {
            font-size: 1.125rem;
            color: rgba(0, 0, 0, 0.75);
          }
        }
      }
      .workCard:hover {
        .workCardDivider {
          display: inline;
          transition: 1s;
        }
        .bottomRow {
          display: flex;
          transition: 1s;
        }
      }

      .lockheed {
        background: rgb(0, 91, 173);
        background: linear-gradient(
          166deg,
          rgba(0, 91, 173, 1) 0%,
          rgba(128, 173, 214, 1) 100%
        );
        box-shadow: 0px 0px 15px rgba(0, 91, 173, 0.5);
      }
    }
  }
}
