/* Define standard variables and values for website */
$pinkColor: #e8d7e3;
$greenColor: #b6d4b9;
$brownColor: #d4b9b6;
$purpleColor: #b9b6d4;

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: 0.3s;
}
*,
*::after,
*::before {
  transition: 0.5s;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section {
  padding: 2rem 2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  // border: 1px solid black;
}

.fadeBottom {
  position: absolute;
  bottom: 0px;

  display: block;

  width: 100%;
  height: 50px;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.9) 100%
  );
}

// ---------------------- NAVIGATION --------------------------------------------

.nav {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  display: none;
}

// ---------------------- HERO --------------------------------------------

.heroSection {
  .textSection {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 30rem;

    .landingText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .normal {
        font-size: 3rem;
        font-weight: 600;
      }

      .name {
        font-size: 4rem;
        font-weight: 800;
      }
    }

    .descText {
      display: flex;
      flex-direction: column;
      margin: 1rem 0rem;

      .line {
        padding: 0.5rem 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .normalText {
        font-size: 2rem;
      }

      .actionButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        margin: 0rem 0.5rem;

        .btnText {
          font-size: 1.75rem;
          font-weight: 600;
          color: white;
          padding: 0.25rem 1rem;
          text-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            margin-left: 0.5rem;
          }
        }
      }

      .codeBtn {
        background-color: rgb(212, 185, 182);
        box-shadow: 5px 0px 15px rgba(212, 185, 182, 0.75);
        border-radius: 20px;
        border: 2px solid transparent;
      }
      .codeBtn:hover {
        background: none;
        box-shadow: none;
        border: 2px solid rgb(212, 185, 182);
        cursor: pointer;

        .btnText {
          color: rgb(212, 185, 182);
          // text-shadow: 2px 0px 15px rgba(212, 185, 182, 0.5);
          text-shadow: none;
        }
      }

      .captureBtn {
        background-color: rgb(182, 212, 185);
        box-shadow: 5px 0px 15px rgba(182, 212, 185, 0.75);
        border-radius: 20px;
        border: 2px solid transparent;
      }
      .captureBtn:hover {
        background: none;
        box-shadow: none;
        border: 2px solid rgb(182, 212, 185);
        cursor: pointer;

        .btnText {
          color: rgb(182, 212, 185);
          // text-shadow: 2px 0px 15px rgba(182, 212, 185, 0.5);
          text-shadow: none;
        }
      }
    }

    .aboutText {
      display: flex;
      align-items: center;
      justify-content: center;

      .normal {
        font-size: 1.5rem;
      }

      .aboutLink {
        .about {
          padding: 0rem 0.5rem;
          font-size: 1.5rem;
          font-weight: 600;
          color: #b9b6d4;
          text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
        }

        .icon {
          padding: 0;
          font-weight: bold;
        }
      }
      .aboutLink:hover {
        cursor: pointer;

        .icon {
          transform: rotate(90deg);
          transition: 0.5s;
        }
      }
    }
  }

  .imageSection {
    width: 50%;
    display: none;
    align-items: center;
    justify-content: center;

    .profilePic {
      width: 30rem;
      height: 30rem;
      border-radius: 50rem;
      box-shadow: 0px 0px 25px rgba(232, 215, 227, 1);
    }
    .profilePic:hover {
      position: relative;
      transform: scale(1.025);
      // transform: rotate(5deg);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
      border-radius: 15rem;
    }
  }
  @media (min-width: 800px) {
    .imageSection {
      display: flex;
    }
  }
}

// ---------------------- ABOUT --------------------------------------------

.aboutSection {
  margin-top: 5rem;
  justify-content: flex-start;
  flex-direction: column;

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0rem;

    .text {
      font-size: 3.5rem;
      color: $purpleColor;
      font-weight: 800;
    }
  }

  .introText {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .text {
      font-size: 1.35rem;
      margin-bottom: 1rem;
    }
  }

  .work {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0rem;

    .workIntro {
      span {
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .workGrid {
      display: flex;
      flex-flow: wrap;

      .workCard {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1.5rem;
        margin-left: 0rem;
        margin-bottom: 0.5rem;
        border-radius: 0.75rem;
        padding: 1rem;

        .topRow {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          .iconSide {
            display: flex;
            align-items: center;
            justify-content: center;

            .workLogo {
              height: 2.5rem;
              width: auto;
              border-radius: 5rem;
              box-shadow: 0px 2px 15px rgba(102, 59, 59, 0.175);
              // border: 3px solid white;
            }
          }

          .textSide {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            margin-left: 1rem;

            .companyName {
              font-size: 1.25rem;
              // text-transform: uppercase;
              font-weight: 500;
              color: white;
              text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
            }

            .position {
              padding: 0.125rem 0rem;
              font-size: 1.15rem;
              font-weight: 500;
              color: rgba(0, 0, 0, 0.6);
            }

            .timeline {
              text-transform: uppercase;
              font-size: 1rem;
              font-weight: 600;
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }

        .workCardDivider {
          height: 0.125rem;
          width: 90%;
          background-color: rgba(0, 0, 0, 0.125);
          border-radius: 1rem;
          margin: 1rem;
          transition: 1s;
        }

        .bottomRow {
          display: none;
          opacity: 0;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          transition: 1s;

          .text {
            font-size: 1.125rem;
            color: rgba(0, 0, 0, 0.75);
          }
        }
      }
      .workCard:hover {
        transform: scale(1.025);
        box-shadow: none;
        cursor: pointer;

        .topRow {
          .iconSide {
            .workLogo {
              transform: rotate(15deg);
              box-shadow: none;
            }
          }
        }
      }

      .work-lockheed {
        background: rgb(64, 138, 195);
        background: linear-gradient(
          166deg,
          rgba(64, 138, 195, 0.75) 0%,
          rgba(119, 171, 212, 0.75) 100%
        );
        box-shadow: 0px 2px 15px rgba(64, 138, 195, 0.5);
      }
      .work-ups {
        background: rgb(254, 216, 0);
        background: linear-gradient(
          166deg,
          rgba(254, 216, 0, 0.75) 0%,
          rgba(255, 236, 128, 0.75) 100%
        );
        box-shadow: 0px 2px 15px rgba(254, 216, 0, 0.5);
      }
      .work-synchronoss {
        background: rgb(1, 201, 234);
        background: linear-gradient(
          166deg,
          rgba(1, 201, 234, 0.75) 0%,
          rgba(192, 242, 250, 0.75) 100%
        );
        box-shadow: 0px 2px 15px rgba(1, 201, 234, 0.5);
      }
      .work-psu {
        background: rgb(37, 135, 187);
        background: linear-gradient(
          166deg,
          rgba(37, 135, 187, 0.75) 0%,
          rgba(119, 180, 212, 0.75) 100%
        );
        box-shadow: 0px 2px 15px rgba(37, 135, 187, 0.5);
      }
      .work-psu-fb {
        background: rgb(37, 135, 187);
        background: linear-gradient(
          166deg,
          rgba(37, 135, 187, 0.75) 0%,
          rgba(119, 180, 212, 0.75) 100%
        );
        box-shadow: 0px 2px 15px rgba(37, 135, 187, 0.5);
      }
    }
  }

  .skills {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 0rem;

    .skillsIntro {
      span {
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .skillsRow {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: row;

      .label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6rem;
        span {
          font-size: 1.25rem;
          font-weight: 500;
          padding-right: 0.5rem;
        }
      }

      .skillsContainer {
        display: flex;
        flex-flow: wrap;

        .logoContainer {
          .caption {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 0.15rem;
            opacity: 0;

            .text {
              position: relative;
              font-size: 1rem;
              font-weight: 600;
              color: rgba(0, 0, 0, 0.5);
            }
          }

          .logo {
            height: 3rem;
            width: 3rem;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.125);
            border-radius: 0.75rem;
            margin: 0.5rem 0.5rem;
          }
        }
      }
      .logoContainer:hover {
        .caption {
          opacity: 1;
        }

        .logo {
          // transform: rotate(5deg);
          transform: scale(1.075);
          box-shadow: none;
        }
      }
    }
  }
}

// ---------------------- PROJECTS --------------------------------------------
.projectsSection {
  margin-top: 5rem;
  justify-content: flex-start;
  flex-direction: column;

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0rem;

    .text {
      font-size: 3.5rem;
      color: $brownColor;
      font-weight: 800;
    }
  }

  .introText {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .text {
      font-size: 1.35rem;
      margin-bottom: 1rem;
    }
  }

  .projectsGrid {
    display: flex;
    flex-flow: wrap;
    width: 100%;

    .projectCard {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
      border-radius: 0.75rem;
      margin: 1.75rem;
      margin-left: 0rem;
      margin-bottom: 1rem;
      padding: 1rem;

      .topRow {
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid black;

        .title {
          font-size: 1.25rem;
          font-weight: 500;
        }
      }

      .bottomRow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        // border: 1px solid black;

        .tech {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .caption {
            display: none;
            opacity: 0;
          }

          .logo {
            height: 2rem;
            width: 2rem;
          }
        }
      }
    }
    .projectCard:hover {
      transform: scale(1.025);
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.075);
      cursor: pointer;
    }
  }
}

// ---------------------- PHOTOGRAPHY --------------------------------------------

.photographySection {
  margin-top: 5rem;
  justify-content: flex-start;
  flex-direction: column;

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0rem;

    .text {
      font-size: 3.5rem;
      color: $greenColor;
      font-weight: 800;
    }
  }

  .introText {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .text {
      font-size: 1.35rem;
      margin-bottom: 1rem;
    }
  }

  .photoGrid {
    display: flex;
    flex-flow: wrap;
    padding-top: 3rem;

    .gridImg {
      height: 7rem;
      width: auto;
      margin: 1.25rem;
      margin-left: 0rem;
      margin-top: 0rem;
      border-radius: 0.25rem;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.075);
    }
    .gridImg:hover {
      border-radius: 0.125rem;
      transform: scale(1.25);
      cursor: pointer;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.175);
    }
  }

  .platform {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0rem;
    margin-bottom: 0.5rem;
    text-decoration-color: transparent;

    .intro {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .text {
        font-size: 1.35rem;
        font-weight: 500;
      }
    }

    .link {
      text-decoration: none;
      color: white;
      text-decoration-color: transparent;
    }
    .link::before,
    .link::after {
      text-decoration: none;
      color: white;
      text-decoration-color: transparent;
    }
    .link:active,
    .link:visited {
      text-decoration: none;
      color: white;
      text-decoration-color: transparent;
    }

    .insta {
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      -webkit-background-clip: text;
      /* Also define standard property for compatibility */
      background-clip: text;
      -webkit-text-fill-color: transparent;

      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.105);
      border-radius: 0.75rem;
      margin: 1rem 0rem;
      padding: 0.75rem;

      .text {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem 2rem;
        color: white;
        text-decoration: none;
      }
      .text::before,
      .text::after {
        text-decoration: none;
        color: white;
        text-decoration-color: transparent;
      }
      .text:visited,
      .text:active {
        text-decoration: none;
        color: white;
        text-decoration-color: transparent;
      }
    }
    .insta:hover {
      transform: scale(1.05);
      cursor: pointer;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.125);
    }

    .youtube {
      background: rgb(255, 0, 0);
      background: radial-gradient(
        circle,
        rgba(255, 0, 0, 1) 55%,
        rgba(40, 40, 40, 0.4556197478991597) 100%
      );
      -webkit-background-clip: text;
      /* Also define standard property for compatibility */
      background-clip: text;
      -webkit-text-fill-color: transparent;

      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.105);
      border-radius: 0.75rem;
      margin: 1rem 0rem;
      padding: 0.75rem;

      .text {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem 2rem;
        color: white;
        text-decoration: none;
      }
      .text::before,
      .text::after {
        text-decoration: none;
        color: white;
        text-decoration-color: transparent;
      }
      .text:visited,
      .text:active {
        text-decoration: none;
        color: white;
        text-decoration-color: transparent;
      }
    }
    .youtube:hover {
      transform: scale(1.05);
      cursor: pointer;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.125);
    }
  }
}

// ---------------------- CONTACT --------------------------------------------
.contactSection {
  flex-direction: column;
  .intro {
    .text {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .socialLinks {
    display: flex;
    align-items: center;
    justify-content: center;

    .socialLink {
      text-transform: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-decoration-color: transparent;

      .linkIcon {
        height: 3rem;
        width: 3rem;
        margin: 1.5rem;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.125);
        border-radius: 0.75rem;
      }

      .caption {
        position: relative;
        bottom: 1rem;
        opacity: 0;
        .text {
          font-size: 1rem;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    .socialLink:active,
    .socialLink:visited {
      text-decoration: none;
      text-decoration-color: transparent;
    }
    .socialLink::before,
    .socialLink::after {
      text-decoration: none;
      text-decoration-color: transparent;
    }
    .socialLink:hover {
      cursor: pointer;
      .linkIcon {
        transform: scale(1.125);
        box-shadow: none;
      }
      .caption {
        opacity: 1;
      }
    }
  }
}
