/* Define standard variables and values for website */
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

*,
*::after,
*::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section {
  padding: 2rem 2rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.nav {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  display: none;
}

.textSection {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 30rem;
}

.textSection .landingText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textSection .landingText .normal {
  font-size: 3rem;
  font-weight: 600;
}

.textSection .landingText .name {
  font-size: 4rem;
  font-weight: 800;
}

.textSection .descText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0rem;
}

.textSection .descText .line {
  padding: 0.5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textSection .descText .normalText {
  font-size: 2rem;
}

.textSection .descText .actionButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  margin: 0rem 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.textSection .descText .actionButton .btnText {
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
  padding: 0.25rem 1rem;
  text-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textSection .descText .actionButton .btnText .icon {
  margin-left: 0.5rem;
}

.textSection .descText .codeBtn {
  background-color: #d4b9b6;
  -webkit-box-shadow: 5px 0px 15px rgba(212, 185, 182, 0.75);
          box-shadow: 5px 0px 15px rgba(212, 185, 182, 0.75);
  border-radius: 20px;
  border: 2px solid transparent;
}

.textSection .descText .codeBtn:hover {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #d4b9b6;
  cursor: pointer;
}

.textSection .descText .codeBtn:hover .btnText {
  color: #d4b9b6;
  text-shadow: none;
}

.textSection .descText .captureBtn {
  background-color: #b6d4b9;
  -webkit-box-shadow: 5px 0px 15px rgba(182, 212, 185, 0.75);
          box-shadow: 5px 0px 15px rgba(182, 212, 185, 0.75);
  border-radius: 20px;
  border: 2px solid transparent;
}

.textSection .descText .captureBtn:hover {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #b6d4b9;
  cursor: pointer;
}

.textSection .descText .captureBtn:hover .btnText {
  color: #b6d4b9;
  text-shadow: none;
}

.textSection .aboutText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textSection .aboutText .normal {
  font-size: 1.5rem;
}

.textSection .aboutText .aboutLink .about {
  padding: 0rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #b9b6d4;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
}

.textSection .aboutText .aboutLink .icon {
  padding: 0;
  font-weight: bold;
}

.textSection .aboutText .aboutLink:hover {
  cursor: pointer;
}

.textSection .aboutText .aboutLink:hover .icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.imageSection {
  width: 50%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imageSection .profilePic {
  width: 30rem;
  height: 30rem;
  border-radius: 50rem;
  -webkit-box-shadow: 0px 0px 25px #e8d7e3;
          box-shadow: 0px 0px 25px #e8d7e3;
}

.imageSection .profilePic:hover {
  position: relative;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
  border-radius: 15rem;
}

@media (min-width: 800px) {
  .imageSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.aboutSection {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutSection .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem 0rem;
}

.aboutSection .title .text {
  font-size: 3.5rem;
  color: #b9b6d4;
  font-weight: 800;
}

.aboutSection .introText {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 1rem 0rem;
}

.aboutSection .introText .text {
  font-size: 1.35rem;
}

.aboutSection .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 1.5rem 0rem;
}

.aboutSection .work .workIntro span {
  font-size: 2rem;
  font-weight: 600;
}

.aboutSection .work .workGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.aboutSection .work .workGrid .workCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  margin-left: 0rem;
  margin-bottom: 0.5rem;
  border-radius: 0.75rem;
  padding: 1rem;
}

.aboutSection .work .workGrid .workCard .topRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.aboutSection .work .workGrid .workCard .topRow .iconSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutSection .work .workGrid .workCard .topRow .iconSide .workLogo {
  height: 2.5rem;
  width: auto;
  border-radius: 5rem;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.125);
}

.aboutSection .work .workGrid .workCard .topRow .textSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
}

.aboutSection .work .workGrid .workCard .topRow .textSide .companyName {
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.aboutSection .work .workGrid .workCard .topRow .textSide .position {
  padding: 0.125rem 0rem;
  font-size: 1.15rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.aboutSection .work .workGrid .workCard .topRow .textSide .timeline {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.aboutSection .work .workGrid .workCard .workCardDivider {
  height: 0.125rem;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  margin: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.aboutSection .work .workGrid .workCard .bottomRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.aboutSection .work .workGrid .workCard .bottomRow .text {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.75);
}

.aboutSection .work .workGrid .workCard:hover {
  position: relative;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.aboutSection .work .workGrid .workCard:hover .topRow .iconSide .workLogo {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.aboutSection .work .workGrid .work-lockheed {
  background: #408ac3;
  background: linear-gradient(166deg, #408ac3 0%, #77abd4 100%);
  -webkit-box-shadow: 0px 0px 15px rgba(64, 138, 195, 0.5);
          box-shadow: 0px 0px 15px rgba(64, 138, 195, 0.5);
}

.aboutSection .work .workGrid .work-ups {
  background: #fed800;
  background: linear-gradient(166deg, #fed800 0%, #ffec80 100%);
  -webkit-box-shadow: 0px 0px 15px rgba(254, 216, 0, 0.5);
          box-shadow: 0px 0px 15px rgba(254, 216, 0, 0.5);
}

.aboutSection .work .workGrid .work-synchronoss {
  background: #01c9ea;
  background: linear-gradient(166deg, #01c9ea 0%, #c0f2fa 100%);
  -webkit-box-shadow: 0px 0px 15px rgba(1, 201, 234, 0.5);
          box-shadow: 0px 0px 15px rgba(1, 201, 234, 0.5);
}

.aboutSection .work .workGrid .work-psu {
  background: #2587bb;
  background: linear-gradient(166deg, #2587bb 0%, #77b4d4 100%);
  -webkit-box-shadow: 0px 0px 15px rgba(37, 135, 187, 0.5);
          box-shadow: 0px 0px 15px rgba(37, 135, 187, 0.5);
}

.aboutSection .work .workGrid .work-psu-fb {
  background: #2587bb;
  background: linear-gradient(166deg, #2587bb 0%, #77b4d4 100%);
  -webkit-box-shadow: 0px 0px 15px rgba(37, 135, 187, 0.5);
          box-shadow: 0px 0px 15px rgba(37, 135, 187, 0.5);
}
/*# sourceMappingURL=main.css.map */